/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@layer base {
	h1 {
		@apply my-6 text-4xl dark:text-white font-bold;
	}
	h2 {
		@apply my-4 text-3xl dark:text-white font-semibold;
	}
	h3 {
		@apply my-2 text-2xl dark:text-white;
	}
}
@tailwind components;
@tailwind utilities;
